@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
@import url('https://fonts.cdnfonts.com/css/miama');

:root {
    --orange: rgb(230, 83, 60);
}

/* shared styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
}

body {
    font-family: "Inter", sans-serif;
    background: black;
}

.description {
    color: rgba(255, 255, 255, 0.5);
    /* font-size: 14px; */
    font-size: 0.88rem;
    font-weight: 400;
    /* line-height: 24px; */
    line-height: 1.5rem;
    letter-spacing: 0.3px;
    text-align: center;
}

.heading {
    font-size: 3rem;
    font-weight: 900;
    line-height: 120%;
    text-align: center;
    margin-bottom: 14px;
}

.nav-bar,
.banner,
.change-habits,
.extra-mile,
.meet-team-image-container,
.calculator-container,
.personalized-solution,
.footer-container,
.trainings {
    max-width: 90%;
    margin: 0 auto;
    margin-bottom: 5.8rem;
}

.change-habits-text,
.bmi-calculator-text,
.meet-team-text {
    width: 50%;
    margin: 0 auto;
    margin-bottom: 3.63rem;
}

.btn-primary {
    border-radius: 42px;
    padding: 1rem 2.5rem;
    background: var(--orange);
    font-size: 1.1rem;
    font-weight: 600;
    margin-top: 2rem;
    border: none;
}

/* navbar styles */

header {
    background: linear-gradient(180.00deg, rgb(17, 17, 17), rgba(119, 119, 119, 0) 100%);
    max-width: 1440px;
    margin-bottom: 6.25rem;
}

.nav-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 2rem;
}

.nav-links>li {
    list-style-type: none;
}

.nav-links>li>a {
    text-decoration: none;
}

.nav-links {
    display: flex;
    /* gap: 47px; */
    gap: 3rem;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 39px;
    padding: 12px 10px 12px 0;
}

.fitness-logo {
    color: var(--orange);
    /* font-size: 36px; */
    font-size: 2.25rem;
    font-weight: 800;
    line-height: 120%;
    font-style: italic;
}

.orange-home {
    border-radius: 46px;
    background: var(--orange);
    padding: 12px 24px;
}

.hamburger-logo {
    display: none;
}

/* banner styles */

.banner {
    display: flex;
    justify-content: space-between;
}

.banner-content {
    /* width: 48%; */
    width: 520px;
}

.banner-heading {
    /* font-size: 78px; */
    font-size: 4.7rem;
    font-weight: 900;
    line-height: 120%;
    /* white-space: pre-wrap; */
    position: relative;
    margin-bottom: 1.75rem;
}

.miama {
    font-family: 'Miama', sans-serif;
    font-size: 8rem;
    font-weight: normal;
    position: absolute;
}

.banner-description {
    color: rgba(255, 255, 255, 0.5);
    font-size: 1rem;
    font-weight: 400;
    letter-spacing: 0.5px;
    line-height: 1.5rem;
    margin-bottom: 1.75rem;
}

.orange-banner-button {
    border-radius: 42px;
    background: var(--orange);
    padding: 1rem 2.5rem;
    font-size: 1.125rem;
    font-weight: 600;
    border: none;
    margin-right: 14px;
}

.white-banner-button {
    border: 1px solid rgb(255, 255, 255);
    background-color: black;
    border-radius: 42px;
    padding: 1rem 2.5rem;
    font-size: 1.125rem;
    font-weight: 600;
}

.mobile-banner-button {
    display: none;
}

.orange-circle {
    width: 40px;
    height: 40px;
    background-color: var(--orange);
    border-radius: 50%;
    position: relative;
}

.play-btn i {
    position: absolute;
    top: 50%;
    right: 50%;
    transform: translate(50%, -50%);
}

.three-fifty {
    color: rgb(250, 250, 249);
    display: inline-block;
    font-size: 1.5rem;
    font-weight: 900;
    letter-spacing: 0.3px;
    margin-bottom: 8px;
}

.banner-card-description {
    color: rgba(239, 237, 232, 0.65);
    font-size: .9rem;
    font-weight: 400;
    letter-spacing: 0.5px;
}

.banner-image img {
    width: 100%;
}

.banner-image {
    position: relative;
    margin-right: 1.5rem;
}

.banner-card-1 {
    display: flex;
    gap: 12px;
    align-items: center;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 12px;
    backdrop-filter: blur(20px);
    background: rgba(48, 48, 48, 0.54);
    padding: 23px 23px;
    width: 206px;
    position: absolute;
    bottom: 12%;
    left: -20%;
}

.banner-card-2 {
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 12px;
    backdrop-filter: blur(20px);
    background: rgba(255, 255, 255, 0.1);
    padding: 20px 23px;
    width: 206px;
    position: absolute;
    bottom: 60%;
    left: 60%;

}

.five-hundred {
    font-size: 40px;
    font-weight: 900;
    line-height: 40px;
    letter-spacing: 1px;
    margin-bottom: 5px;
}

/* change-your-habits styles */


.change-habits-image-text h5 {
    font-size: 1.125rem;
    font-weight: 600;
    line-height: 120%;
    margin-bottom: 10px;
    text-align: center;
}

.change-habits-image-text p {
    color: rgba(255, 255, 255, 0.5);
    font-size: .875rem;
    font-weight: 400;
    letter-spacing: 0.3px;
    text-align: center;
}

.change-habits-image img {
    border-radius: 50%;
    border: 2px solid #242222;
    margin-bottom: 1.875rem;
}

.change-habits-image {
    display: flex;
}

.change-habits-image-1,
.change-habits-image-2,
.change-habits-image-3,
.change-habits-image-4 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* extra mile styles */

.extra-mile {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10%;
    border-radius: 18px;
    background: rgb(34, 34, 34);
}

.extra-mile-text {
    width: 40%;
    padding: 2rem 3rem;
}

.extra-mile-text .heading {
    text-align: left;
}

.extra-mile-text .description {
    text-align: left;
}

.extra-mile-image {
    width: 50%;
    padding: 2rem;
}

.extra-mile-image img {
    width: 100%;
    border-radius: 1.1rem;
}

/* trainings and exercises styles */
.trainings-text {
    width: 60%;
    margin-bottom: 2rem;
}

.trainings-text .description,
.trainings-text .heading {
    text-align: left;
}

.row-1 {
    display: grid;
    grid-template-columns: 25% 43% 32%;

}

.row-2 {
    display: grid;
    grid-template-columns: 36% 29% 35%;

}

.image img {
    width: 100%;
    /* height: 200px; */
    height: 100%;
}

.image {
    position: relative;
}

.image p {
    position: absolute;
    font-size: .875rem;
    font-weight: 600;
    line-height: 1rem;
    width: 50%;
}

.image-1 p,
.image-3 p,
.image-5 p,
.image-6 p {
    bottom: 18%;
    left: 15%;
}

.image-2 p {
    top: 18%;
    left: 15%;
}

.image-4 p {
    top: 18%;
    right: -6%;
}

.image-1::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(6, 255, 210, 0.5);
}

.image-1 {
    background-image: url("../images/exercise1.jpg");
    background-position: center;
    background-size: cover;
    background-color: rgba(6, 255, 210, 0.5);
    background-blend-mode: overlay;
}

/* the above code will work if i don't use image tag in my image-1 div */
/* .image-2::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 0, 0, 0.3);
} */
/* the above code will work if I use image tag in my image-2 div. */
.image-2 {
    background-image: url("../images/exercise2.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: rgba(255, 0, 0, 0.3);
    background-blend-mode: overlay;
}

.image-3 {
    background-image: url("../images/exercise3.png");
    background-position: center;
    background-size: cover;
    background-color: rgba(0, 0, 0, 0.5);
    background-blend-mode: overlay;
}

.image-4 {
    background-image: url("../images/exercise4.png");
    background-position: center;
    background-size: cover;
    background-color: rgba(0, 0, 0, 0.5);
    background-blend-mode: overlay;
}


.image-5 {
    background-image: url("../images/exercise5.jpg");
    background-position: center;
    background-size: cover;
    background-color: rgba(66, 255, 0, 0.3);
    background-blend-mode: overlay;
}

/* for desktop */
.image-6::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 71, 255, 0.3);
}

/* for mobile */
.image-6 {
    background-image: url("../images/exercise6.jpg");
    background-position: center;
    background-size: cover;
    background-color: rgba(0, 71, 255, 0.3);
    background-blend-mode: overlay;
}


/* bmi calculator styles */
.calculator-background {
    background: rgb(34, 34, 34);
    padding: 60px 50px 10px 50px;
    margin-bottom: 5.5rem;
}

.calculator-container {
    display: flex;
    justify-content: space-around;
    /* align-items: center; */
    /* display: grid;
    grid-template-columns: 30% 50%;
    gap: 20%;
    place-content: center; */
}

.calculator-chart {
    width: 30%;
    /* flex dile ekhane width fixed lagbe, grid dile width lagbe na */
}

.calculator-form-container {
    width: 50%;
    /* flex dile ekhane width lagbe,  grid dile width lagbe na */
}

.bmi-calculator-text .heading {
    text-align: left;
}

.bmi-calculator-text .description,
.calculator-form-text .description {
    text-align: left;
}

.calculator-form-text .description {
    margin-bottom: 2rem;
}

.calculator-chart h4,
.calculator-form-text h4 {
    font-size: 1.75rem;
    font-weight: 900;
    margin-bottom: 3.25rem;
}

.calculator-form-text h4 {
    margin-bottom: 14px;
}

.bmi-table,
.bmi-table th,
.bmi-table td {
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-collapse: collapse;
    padding: 13px 18px;
    text-align: left;
}

.bmi-table td {
    color: rgba(255, 255, 255, 0.5);
    font-size: 14px;
}

.calculator-form input,
.calculator-form select {
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.1);
    padding: 12px 20px;
    border: none;
    color: rgba(255, 255, 255, 0.3);
    font-size: 1rem;
    font-weight: 400;
    line-height: 22px;
}

.calculator-form {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 12px;
}

.full-width {
    grid-column: span 2;
}

.calculator-form-text {
    width: 100%;
}


/* meat team styles */
.meet-team {
    margin-bottom: 3rem;
}

.meet-team-image-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    border-radius: 18px;
    background: rgba(255, 255, 255, 0.1);
    padding: 1rem;
    margin-top: 3.6rem;
    margin-bottom: 4rem;

}

.trainer {
    position: relative;
    padding-top: 100%;
}

.meet-team-image-container img {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    object-fit: cover;
    border-radius: 18px;
    filter: brightness(75%);
}

.trainer-info {
    position: absolute;
    bottom: 10%;
    left: 10%;
}

.trainer-name {
    font-size: 1rem;
}

.trainer-profession {
    color: rgba(255, 255, 255, 0.7);
    font-size: .9rem;
}

/* personalized-solution styles */
.personalized-solution-text .heading {
    text-align: left;
    margin-bottom: 3rem;
}

.personalized-solution-table .description {
    text-align: left;
    margin-left: 15px;
}

.personalized-solution-table .table-heading {
    font-size: 1.3rem;
    font-style: italic;
}

.num {
    font-size: 2rem;
    font-weight: 800;
    color: rgba(239, 237, 232, 0.65);
}

.personalized-solution-text h5 {
    font-size: 1.7rem;
    font-style: italic;

}

.personalized-solution-table .row {
    display: grid;
    grid-template-columns: 5% 15% 45% 10%;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    justify-content: space-around;
    align-items: center;
    padding: 20px;
}

.personalized-solution-table .row:nth-child(1) {
    border-top: 1px solid rgba(255, 255, 255, 0.1);
}

.table-icon i {
    border: 1px dashed rgba(255, 255, 255, 0.3);
    border-radius: 50%;
    padding: 16px;
    color: rgb(230, 83, 60);
    /* margin-left: 200px; */
}

.table-icon i:hover {
    cursor: pointer;
    color: rgba(239, 237, 232, 0.65);
    transform: rotate(-30deg);
}

/* footer styles */
.fitness-logo-2 {
    color: var(--orange);
    /* font-size: 36px; */
    font-size: 4.38rem;
    font-weight: 800;
    line-height: 120%;
    font-style: italic;
    margin-bottom: 2rem;
}

.footer-column-1 {
    width: 43%;
    margin-bottom: 2rem;
}

.footer-texts .description {
    text-align: left;
}

.footer-heading {
    color: rgb(255, 255, 255);
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 2.2rem;
}

.footer-lists {
    color: rgba(255, 255, 255, 0.5);
    font-size: 1.2rem;
    line-height: 120%;
    margin-bottom: 1rem;
}

.footer-texts {
    display: flex;
    justify-content: space-between;
    gap: 2rem;
    margin-bottom: 5rem;
}

.footer {
    background: rgba(255, 255, 255, 0.1);
    /* margin-bottom: 0px; */
    padding: 2rem;
    padding-top: 4rem;

}

.footer-copyright hr {
    border: 2px solid rgba(255, 255, 255, 0.1);
}

.footer-copyright .description {
    margin-top: 2.2rem;
}